**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/logs/
.git/
.gitignore
specs/relatorios/
node_modules/

# Excluir markdowns da raiz e da pasta docs, mas manter os que estão dentro de channels/
/*.md
docs/**/*.md